@charset "utf-8";
/* CSS Document */

body
{
	margin:0px auto;
}
.menu
{
	background-color:rgba(238,238,238,1);
	height:1000px;
	width:190px;
	float:left;
	position:fixed;
	
	
}
.homepic
{
	background-image: url(../images/Cross-Stitch-Eid-Lawn-Collection-2017-18-Unstitch-Eid-Dresses-Catalogue-11.jpg);
	height:500px;
	width:1150px;
	margin-left:190px;
	background-size:cover;
	
}
ul
{
	list-style-type:none;
	
}
ul li
{
	
	list-style-type:none;
	font-size:20px;
	padding:5px;
	color: rgba(0,204,204,1);
}
ul li a
{
	text-decoration:none;
	color:rgba(153,153,153,1);
	font-family:TimesLTStd-Roman;
	
}
ul li a:hover
{
	color:rgba(102,102,102,1);
}
.section
{
	background-color:rgba(255,255,255,1);
	height:auto;
}


.box
{
	
    margin:4px;
	float:left;
	margin-top:23px;
}





